# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем артефакты Python и кэш
__pycache__/
*.pyc
.pytest_cache/

# Игнорируем локальные базы данных и тяжелые артефакты ML
mlruns.db
mlruns/
models/
data/